/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-ico-fb-name: 'sprite-ico-fb';
$sprite-ico-fb-x: 0px;
$sprite-ico-fb-y: 0px;
$sprite-ico-fb-offset-x: 0px;
$sprite-ico-fb-offset-y: 0px;
$sprite-ico-fb-width: 37px;
$sprite-ico-fb-height: 36px;
$sprite-ico-fb-total-width: 111px;
$sprite-ico-fb-total-height: 72px;
$sprite-ico-fb-image: '../img/sprite.png';
$sprite-ico-fb: (0px, 0px, 0px, 0px, 37px, 36px, 111px, 72px, '../img/sprite.png', 'sprite-ico-fb', );
$sprite-ico-od-name: 'sprite-ico-od';
$sprite-ico-od-x: 37px;
$sprite-ico-od-y: 0px;
$sprite-ico-od-offset-x: -37px;
$sprite-ico-od-offset-y: 0px;
$sprite-ico-od-width: 37px;
$sprite-ico-od-height: 36px;
$sprite-ico-od-total-width: 111px;
$sprite-ico-od-total-height: 72px;
$sprite-ico-od-image: '../img/sprite.png';
$sprite-ico-od: (37px, 0px, -37px, 0px, 37px, 36px, 111px, 72px, '../img/sprite.png', 'sprite-ico-od', );
$sprite-ico-tm-name: 'sprite-ico-tm';
$sprite-ico-tm-x: 0px;
$sprite-ico-tm-y: 36px;
$sprite-ico-tm-offset-x: 0px;
$sprite-ico-tm-offset-y: -36px;
$sprite-ico-tm-width: 37px;
$sprite-ico-tm-height: 36px;
$sprite-ico-tm-total-width: 111px;
$sprite-ico-tm-total-height: 72px;
$sprite-ico-tm-image: '../img/sprite.png';
$sprite-ico-tm: (0px, 36px, 0px, -36px, 37px, 36px, 111px, 72px, '../img/sprite.png', 'sprite-ico-tm', );
$sprite-ico-tw-name: 'sprite-ico-tw';
$sprite-ico-tw-x: 37px;
$sprite-ico-tw-y: 36px;
$sprite-ico-tw-offset-x: -37px;
$sprite-ico-tw-offset-y: -36px;
$sprite-ico-tw-width: 37px;
$sprite-ico-tw-height: 36px;
$sprite-ico-tw-total-width: 111px;
$sprite-ico-tw-total-height: 72px;
$sprite-ico-tw-image: '../img/sprite.png';
$sprite-ico-tw: (37px, 36px, -37px, -36px, 37px, 36px, 111px, 72px, '../img/sprite.png', 'sprite-ico-tw', );
$sprite-ico-vk-name: 'sprite-ico-vk';
$sprite-ico-vk-x: 74px;
$sprite-ico-vk-y: 0px;
$sprite-ico-vk-offset-x: -74px;
$sprite-ico-vk-offset-y: 0px;
$sprite-ico-vk-width: 37px;
$sprite-ico-vk-height: 36px;
$sprite-ico-vk-total-width: 111px;
$sprite-ico-vk-total-height: 72px;
$sprite-ico-vk-image: '../img/sprite.png';
$sprite-ico-vk: (74px, 0px, -74px, 0px, 37px, 36px, 111px, 72px, '../img/sprite.png', 'sprite-ico-vk', );
$spritesheet-width: 111px;
$spritesheet-height: 72px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-ico-fb, $sprite-ico-od, $sprite-ico-tm, $sprite-ico-tw, $sprite-ico-vk, );
$spritesheet: (111px, 72px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
